@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.progress-row {
    display: flex;
    align-items: left;
    gap: 0.7em;
    margin-bottom: 0.6em;
  }
  .progress-label {
    min-width: 40px;
    font-weight: 500;
  }
  .progress-bar-outer {
    width: 50%;
    background: #eee;
    border-radius: 0px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex: 1;
  }
  .progress-bar-inner {
    height: 80%;
    border-radius: 0px;
    height: 18px;
    transition: width 0.6s ease-out;
  }
  .progress-bar-text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 12px;
    font-weight: 400;
    color: #000000;
    pointer-events: none;
  }
  .navbar-brand img {
    height: 90px !important;
    width: auto;
  }
h1, h2, h3 {
  color: #03865a;
}

h4 {
  color: #03865a;
  font-weight: bold;
}

h5 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font:Arial;
}

.highlight {
  background-color: #03865a;
  padding: 0.1em 0.2em; /* Optional: adds a little space around the text */
  border-radius: 0.2em;  /* Optional: rounded corners */
  color: #fff;           /* Optional: for contrast */
  display: inline;
}
mark {
  color: #000000;
  font-size: 32px;
  background-color: #f0f0f0;
  font-weight: bold;
  font-family: 'Cal Sans', sans-serif;
  font-weight: 300;
}
.gray-box {
  background-color: #f0f0f0;   /* Light gray */
  border-radius: 10px;         /* Rounded corners */
  padding: 8px;               /* Space inside the box */
  display: block;
  width: 100%;       /* Shrink to fit content, or use block for full width */
  margin: 10px 0;               /* Optional: space above/below */
}